<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Raj kumar</strong> Currently I am FrontEnd Developer, Working as a Systems Analyst in <strong>US Technology Global Solutions,Bangalore.</strong>  I have a total 6 years and 7 months of work experience.</p>

              <p>
                I am very Creative and enthusiastic person. I have artistic skills , I like to do artworks and I like to cherish the beauty of nature with photograpy. I am a good decision maker and Face problems with a smile and solve them as soon as possible. 
              </p> 

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Education:</strong>
                </div>
                <div class="col-sm-8">B.Tech MBA</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Work Location:</strong>
                </div>
                <div class="col-sm-8">US Technology Global Solutions,Bangalore.</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Salary:</strong>
                </div>
                <div class="col-sm-8">12 Lakhs per year</div>
              </div>

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">raskumar.v@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91 9551110522</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Father Phone:</strong>
                </div>
                <div class="col-sm-8">+91 9080313074</div>
              </div>
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">30-6-1991 (29 years)</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Place of Birth:</strong>
                </div>
                <div class="col-sm-8">Nagari (Andhra Pradesh)</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Time of Birth:</strong>
                </div>
                <div class="col-sm-8">11:45 AM- Sunday</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Nakshatram:</strong>
                </div>
                <div class="col-sm-8">Tiruvonam (Shravana)</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Rashi:</strong>
                </div>
                <div class="col-sm-8">Makara (Capricorn)</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Height:</strong>
                </div>
                <div class="col-sm-8">173 cm, 5.8 feet</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Mother Tongue:</strong>
                </div>
                <div class="col-sm-8">Telugu</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Religion:</strong>
                </div>
                <div class="col-sm-8">Hindu (Telugu Yadav)</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Permanent Address:</strong>
                </div>
                <div class="col-sm-8">1/82 big street, Thalavedu village and post, Tiruttani 631212, Tamil Nadu.
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Telugu, Tamil, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>