<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2019</p>
              <div class="h5">Masters's Degree </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Business Administration (Executive)</div>
               <h4 class="category">Symbiosis Institute of Business Management, Bangalore
               </h4>
               <ul>
                <li> Symbiosis University is a Top Business School and <b>ranks within 20th</b> in India </li>
                    <li>Completed MBA in General management with <b>70%</b>.</li>
                 <li>Gained Knowledge on<b>Project management</b>Operations, Finance , Marketing and Sales</li>
                 <li>Practical Experience on <b>Live projects</b> Presentaions, Industry Research and Analysis</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2009 - 2013</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Velammal Engineering College, Chennai
               </h4>
               <ul>
                <li> Velammal Engineering College is Affiliated to Anna University and <b>ranks 10th</b> in Chennai</li>
                    <li>Completed B.Tech in Information Technology with <b>8.0 CGPA</b>.</li>
                 <li>Won the <b>Best Creative Artist Award</b> 2 times in Intercollege competion at College.</li>
                 <li>Earned Knowledge on <b>Leadership Skills</b> Technology and Analystical skills .</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2007 - 2009</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary - 12th</div>
               <h4 class="category">Bharathidhasanar Martic Higher Secondary School, Arakkonam
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science, mathematics, and Chemistry
                                  </li>
                                  <li>
                                     There was also a good base on physics, mathematics and chemistry.
                                  </li>
                                  <li>
                                      Completed my high school with<b> 91%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2006 - 2007</p>
              <div class="h5">High School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">High School - 10th</div>
               <h4 class="category">Thalapathy Vinayagam matric Higher Secondary School, Tiruttani
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, History and Languages.
                </li>
               
                <li>
                    Completed my High school with <b>86%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>