<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Family</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/father1.jpeg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Father</h4>
          <h5 class="card-text"><b>G.Venkatesulu :</b>  B.Com </h5>
            <h5 class="card-text">I am very proud as my father is a farmer, Well degnified and well respected person.</h5>
            <h5 class="card-text">Person who loves to care for others and high level of helping tendency</h5>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/mother3.jpeg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Mother</h4>
           <h5 class="card-text"><b>Dhakshayani</b>  Anganwadi Teacher </h5>
    
            <h5 class="card-text">Intellectual and composed mother, Friendly and understanding nature.</h5>
            <h5 class="card-text">caring and who loves not to harm others</h5>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/rahul2.jpeg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Brother</h4>
          <h5 class="card-text"><b>Rahul :</b> Medical Student (Final Year) </h5>
            <h5 class="card-text">Caring Brother - Pursuing Medical (MD) in Tbilisi - Georgia (Europian Country) </h5>
        </div>
      </div>
    </div>
    </div>
    
    
      
    

    
    </div>
    </div>

    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">House</div>
          
   <div class="row">
  
  
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/house1.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Classic House (early 1900's - 2016)</h4>
        <h5 class="card-text"><b>100 Years traditional building</b> </h5>
        <h5 class="card-text">Not a house but emotional, born and brought up in the house</h5>
      </div>
    </div>
  </div>
  </div>
  
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
     <div class="card" >
      <img class="card-img-top"src="assets/images/house2.jpeg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Modern House (2017 - Present)</h4>
          <h5 class="card-text">2 storied building with 4Bhk and large living room and dining hall</h5>
      </div>
  </div>
  </div>
    </div>

  
  </div>
  </div>
  </div>